
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Refugio de Animales: adopta y conoce historias de perros, gatos y más. Descubre nuestra historia y cómo ayudar.">
    <meta name="keywords" content="refugio de animales, adopción, tienda de mascotas, cuidado animal, ayuda a animales">
    <meta name="author" content="Tu Nombre">
    <title>Historia de Bailey</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!-- Barra de Navegación -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../index.html">
                    <img src="../img/logo2.png" alt="HOTEL GUAUMIAU" width="1074" height="798">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/galeria.html">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/tienda.html">Tienda</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Conoce a Bailey</h1>
        <img src="../img/perro5.jpg" alt="Bailey" style="display:block; margin:auto;" width="600" height="400">
        <p>
            Bailey es el mejor amigo de todos los niños. Su carácter juguetón y su amor incondicional lo convierten en el compañero ideal para una familia. 
            Bailey está lleno de energía y siempre está listo para compartir momentos de felicidad y diversión.
        </p>
        <p>¿Interesado en adoptar a Bailey? Escríbenos a <a href="mailto:adopciones@refugioanimales.com">adopciones@refugioanimales.com</a>.</p>
    </main>
    
    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="icon facebook">
                <img src="../img/facebook.png" alt="Facebook" width="735" height="729">
            </a>
            <a href="https://www.twitter.com" target="_blank" class="icon twitter">
                <img src="../img/twitter.png" alt="Twitter" width="736" height="610">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="icon instagram">
                <img src="../img/instagram.png" alt="Instagram" width="626" height="626">
            </a>
            <a href="https://www.tiktok.com" target="_blank" class="icon tiktok">
                <img src="../img/tiktok.png" width="736" height="736">
            </a>
            <a href="https://www.youtube.com" target="_blank" class="icon youtube">
                <img src="../img/youtube.png" alt="YouTube" width="735" height="736">
            </a>
        </div>
        <p class="footer-text">© 2024 Mi Sitio Web - Todos los derechos reservados</p>
    </footer>

</body>
</html>
